{% extends "base.html" %}

{% block content %}
<div class="">
    <h1>Просмотр профиля</h1>
    {% if user.is_admin == 1 %}
        <h5>Администратор сайта.</h5>
        {% if user.is_admin == 1 and current_user == user%}
            <p><a href="/admin">Перейти в панель администратора.</a></p>
        {% endif %}
    {% endif %}
    <h3>{{ user.name }}</h3>
    <h>Описание</h>:
    <p class="container"> {{ user.about }}</p>
    {% if current_user == user %}
        <p><a href="/change_profile" class="btn btn-secondary">Настроить профиль</a>
        <a href="/logout" class="btn btn-secondary">Выйти</a></p>
    {% endif %}
    <h>Результаты тестов:</h>
</div>
{% for i in dct.keys() %}
    <p><a href="/test/{{ i }}">{{ i }} : {{ dct[i] }} </a></p>
{% endfor %}
{% endblock %}