{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p><a href="/admin">Вернуться на страницу панели администратора.</a></p>
<form action="{{url_for('admin_post_news')}}" method = "post" class="form-contact" enctype="multipart/form-data">
    <p><label>Название новости:</label>{{ form.news_title }}</p>
    <p><label>Текст новости:</label></p>
    <p>{{ form.news_text(rows="7", cols="40") }}</p>
    <p><label>Картинка новости: </label></p>
    <p>{{ form.hidden_tag() }}{{ form.file }}</p>
    <p><input type="submit" value="Добавить"/></p>
</form>
{% endblock %}