{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Создание поста</h2>
<form method = "post" class="form-contact" enctype="multipart/form-data">
    <div class="mb-3">
    <label class="form-label">Заголовок треда:</label >
        <input class="form-control" name="title" value="">
    </div>
    <div class="mb-3">
    <label class="form-label">Описание:</label>
        <textarea class="form-control" name="content" value="" required ></textarea>
        </div>
    <p><label>Картинка новости: </label></p>
    <p>{{ form.hidden_tag() }}{{ form.file }}</p>
    <input type="submit" value="Создать" class="btn btn-dark"/>
</form>
{% endblock %}