{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="text">Добро пожаловать на сайт с тестами!</div>
<h3>Актуальные тесты</h3>
<div class="row row-cols-md-3">
{% for test in tests[-9:]%}
<div class="col mb-3">
<div class="card" style="width: auto;">
  <div class="card-body">
    <h5 class="card-title">{{test.name}}</h5>
    <p class="card-text">{{test.description}}</p>
    <a href="test/{{test.id}}" class="card-link">Перейти к прохождению</a>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
