{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p><a href="/admin">Вернуться на страницу панели администратора.</a></p>
{% if msgs|length != 0 %}
{% for msge in msgs[::-1] %}
<h4>{{ msge.created_date }}</h4>
<h3> <a href="/account/{{msge.author_id}}">{{ msge.author_name }}</a></h3>
<h3>{{ msge.email }}</h3>
<h3>{{ msge.message }}</h3>
<br>
<!-- нужен функционал отображения обращений в службу поддержки. отображать ник пользователя, его почту и текст обращения. добавить кнопку удаления обращения-->
{% endfor %}
{% else %}
<h4>Обращений пока нет!</h4>
{% endif %}
{% endblock %}