{% extends 'base.html' %}

{% block content %}
<div class="card" style="max-width: 820px;">
  <div class="card-header">Информация о тесте</div>
  <div class="card-body">
    <h5 class="card-title">{{ test.name }}</h5>
    <p class="card-text">{{ test.description }}</p>
    <a href="/test/{{ test.id }}/0" class="btn btn-dark">Пройти тест</a>
      {% if current_user.is_authenticated %}
          <a href="/write_comment/{{test.id}}" class="btn btn-dark">Оставить комментарий</a>
      {% endif %}
  </div>
</div>
<h2>Комментарии</h2>
{% for comment in test.comments %}
    <div class="list-group" style="margin-top:10px">
        <p class="list-group-item" style="max-width: 520px;">  <small><a href="/account/{{comment.author.id}}">{{comment.author.name}}</a>
                        {{comment.date_of_creation.date()}}</small><br>
            {{comment.content}}<br>
        {% if (current_user.is_authenticated and current_user == comment.author) or current_user.is_admin == 1%}
            <a href="/comment_delete/{{ comment.id }}" class="btn btn-danger">Удалить</a></p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}

